button {
  font-size: 14px;
  padding: 13px 20px;
  border-radius: 3px;
  width: 100%;
  border: none;
  background-color: #1968fbc7;
  cursor: pointer;
  outline: none;
  color: #fff;
}

button:disabled {
  background-color: #1968fbc7;
  color: #010322a8;
}
