@import 'sass-rem';
@import '../../assets/variables';

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: rem(450px);

  > span {
    font-size: rem(12px);
    margin-bottom: rem(7px);
  }

  > div {
    background-color: map-get($palette, pure);
    width: 100%;
    border-radius: rem(4px);
  }
}

@media (max-width: 500px) {
  .card {
    max-width: 100%;
    margin-top: rem(20px);
  }
}
