.text-input-theme {
  position: relative;
  width: 100%;

  input::placeholder {
    color: #b4b0d1;
  }

  &__label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    color: #393648;
  }

  &__wrapper {
    position: relative;
    width: 100%;
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
  }

  &__form-control {
    display: block;
    background: #f9fafb;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-left: 9px;
    border: 1px solid #e6e5f1;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    line-height: 1.5;
    color: #6c757d;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .is-valid,
  .is-invalid {
    background-size: 36px;
    background-position: center right 9px;
    background-repeat: no-repeat;
    padding-right: 36px;
    border: unset;
  }

  input {
    background-color: #f7f7ff;
  }
}
